In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
X= pd.DataFrame(df['T2'])
y = pd.DataFrame(df['T6'])

In [15]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

Question 12
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [16]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X, y)

LinearRegression()

In [17]:
from sklearn.metrics import r2_score
r2score = r2_score(X, y)
round(r2score, 2)

-35.39

Question 13
What is the Mean Absolute Error (in two decimal places)?

In [18]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [19]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data = df[['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2']]
normalised_df = pd.DataFrame(scaler.fit_transform(data), columns = data.columns)

In [20]:
normalised_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [21]:
X = normalised_df[['T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2']]
y = normalised_df['Appliances']

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

In [23]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train, y_train)

predictions = lm.predict(X_test)

In [26]:
from sklearn import metrics

mae = metrics.mean_absolute_error(y_test, predictions)
round(mae, 2)

0.05

Question 14
What is the Residual Sum of Squares (in two decimal places)?

In [27]:
rss = metrics.mean_squared_error(y_test, predictions)
round(rss, 2)

0.01

Question 15
What is the Root Mean Squared Error (in three decimal places)?

In [49]:
from sklearn import metrics

rmse = np.sqrt(metrics.mean_squared_error(y_test, predictions))

round(rmse, 2)

0.09

Question 16
What is the Coefficient of Determination (in two decimal places)?

In [29]:
from sklearn.metrics import r2_score
r2score = r2_score(y_test, predictions)
round(r2score, 2)

0.15

Question 17
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [40]:
weight = pd.DataFrame(lm.coef_, X.columns, columns =['Coefficient'])
weight.sort_values(by = ["Coefficient"])

             Coefficient
RH_2           -0.456698
T_out          -0.321860
T2             -0.236178
T9             -0.189941
RH_8           -0.157595
RH_out         -0.077671
RH_7           -0.044614
RH_9           -0.039800
T5             -0.015657
T1             -0.003281
rv1             0.000770
rv2             0.000770
Press_mm_hg     0.006839
T7              0.010319
Visibility      0.012307
RH_5            0.016006
RH_4            0.026386
T4              0.028981
Windspeed       0.029183
RH_6            0.038049
RH_3            0.096048
T8              0.101995
Tdewpoint       0.117758
T6              0.236425
T3              0.290627
RH_1            0.553547

Question 18
Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [42]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(X_train, y_train)
ridge_predictions = ridge_reg.predict(X_test)

In [48]:
from sklearn import metrics

rmse = np.sqrt(metrics.mean_squared_error(y_test, ridge_predictions))
round(rmse, 2)

0.09

Question 19
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [56]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha = 0.001)
las_model = lasso_reg.fit(X_train, y_train)
lasso_predictions = lasso_reg.predict(X_test)

In [61]:
features = pd.DataFrame(las_model.coef_, X.columns, columns =['Coefficient'])
weight.sort_values(by = ["Coefficient"])

             Coefficient
RH_2           -0.456698
T_out          -0.321860
T2             -0.236178
T9             -0.189941
RH_8           -0.157595
RH_out         -0.077671
RH_7           -0.044614
RH_9           -0.039800
T5             -0.015657
T1             -0.003281
rv1             0.000770
rv2             0.000770
Press_mm_hg     0.006839
T7              0.010319
Visibility      0.012307
RH_5            0.016006
RH_4            0.026386
T4              0.028981
Windspeed       0.029183
RH_6            0.038049
RH_3            0.096048
T8              0.101995
Tdewpoint       0.117758
T6              0.236425
T3              0.290627
RH_1            0.553547

Question 20
What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [62]:
from sklearn import metrics

rmse = np.sqrt(metrics.mean_squared_error(y_test, lasso_predictions))
round(rmse, 3)

0.094